ul {
    list-style-type: none;
}

.footer {
    background-color: #2f5167;
    height: 175px;
    color: #fff;
}

.footer-left {

    float: left;
    margin-left: 40px;
    margin-bottom: 30px;
    width: 25%;
}

.footer-left h3 {
    font-size: 32px;
}

.footer-list {
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.footer-tengah {
    float: left;
    margin-left: 100px;
    margin-top: 20px;

}

.footer-tengah a {
    color: white;
    text-decoration: none
}

.footer-tengah a:active {
    color: #1fcbe2;
    text-decoration: none
}

.footer-list li {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-center {
    float: left;
    margin-left: 100px;
    margin-top: 20px;

}

.footer-center a {
    color: white;
    text-decoration: none
}

.footer-center a:active {
    color: #1fcbe2;
    text-decoration: none
}

.copyright {
    background-color: #1fcbe2;
    height: 80px;
    color: #fff;
    margin: none;
    border: none;

}

.copyright-content h4 {
    float: left;
}

.copyright-content p {
    float: left;
}